html {
    width: 180px;
}

body {
    background-color:#9c76e8;
    height: 64px;
}

div {
    margin: 8px 0px;
}

#total-container, #watched-container {
    display: flex;
    justify-content: space-between;
}

#percent-container {
    height: 12px;
    position: relative;
    background-color:lightgrey;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 3px 0px black;
    -moz-box-shadow:    0px 0px 3px 0px black;
    box-shadow:         0px 0px 3px 0px black;
}

#progress-bar {
    position: absolute;
    left: 5px;
    top: 3px;
    background-color: limegreen;
    height: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px black;
    -moz-box-shadow:    0px 0px 1px 0px black;
    box-shadow:         0px 0px 1px 0px black;
}

#percent {
    z-index: 1000;
    position: relative;
    opacity: 0.7;
}