.tooltip {
}

.tooltip .tooltiptext {
    cursor: pointer;
    visibility: hidden;
    width: 120px;
    left: 50px;
    top:30px;
    background-color: #64567ec9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;    
}