.tooltip {
    display: inline-block;
    margin: 0 auto;
    width: 13px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    vertical-align: text-bottom;
    /* border-radius: 20px; */


}

.tooltip .tooltiptext {
    cursor: pointer;
    visibility: hidden;
    width: 120px;
    left: 50px;
    top:30px;
    background-color: #64567ec9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;    
}